body {
  margin: 0;
  padding: 0;
  background: #e9f7ec;
  font-family: Arial, sans-serif;
}

.register-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.register-card {
  background: white;
  width: 90%;
  max-width: 420px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0px 4px 20px rgba(0, 100, 35, 0.2);
  animation: fadeIn 0.4s ease-in-out;
}

.titulo {
  text-align: center;
  font-size: 30px;
  color: #0f5a2a;
  margin-bottom: 5px;
}

.sub {
  text-align: center;
  font-size: 15px;
  color: #3c7c51;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
}

input:focus {
  border-color: #0f5a2a;
}

.btn-register {
  padding: 12px;
  border: none;
  font-size: 16px;
  background: #0f5a2a;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-register:hover {
  background: #0c4a22;
}

.volver {
  text-align: center;
  margin-top: 15px;
  color: #0f5a2a;
  cursor: pointer;
}

.volver:hover {
  text-decoration: underline;
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Contenedor */
.remember-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  font-family: Arial, sans-serif;
}

/* El switch oculto */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Base del switch */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c7c7;
  transition: 0.4s;
  border-radius: 20px;
}

/* Botón redondo */
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Activado */
input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(23px);
}

/* Texto */
.remember-text {
  font-size: 15px;
  color: #444;
}
